[submodule "lib/ST7735_TFT_RPI"]
	path = lib/ST7735_TFT_RPI
	url = https://github.com/CodeSample15/ST7735_TFT_RPI.git
[submodule "lib/joystick"]
	path = lib/joystick
	url = https://github.com/drewnoakes/joystick.git
[submodule "lib/exprtk"]
	path = lib/exprtk
	url = https://github.com/ArashPartow/exprtk.git
